<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.litongjava.module.spring.boot.ztree.mapper.TreeMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.litongjava.module.spring.boot.ztree.model.TreeMenu">
        <id column="id" property="id" />
        <result column="pId" property="pId" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="update_user" property="updateUser" />
        <result column="create_user" property="createUser" />
        <result column="level_id" property="levelId" />
        <result column="order_id" property="orderId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pId, name, create_time, update_time, is_delete, update_user, create_user, level_id, order_id
    </sql>

</mapper>
